<ion-view view-title="shenbing" style="height:100%" hide-nav-bar=true>
<!-- 				<form ng-hide="false" onsubmit="login()" id="loginform" method="post" action="http://121.43.107.106/member.php?mod=logging&action=login&loginsubmit=yes&loginhash=$loginhash&mobile=2">


				<div class="login_from">
					<ul>
						<li>
							<input type="text" value="" tabindex="1" size="30" autocomplete="off" value="" name="username" placeholder="123" fwin="login">
						</li>
						<li>
							<input type="password" tabindex="2" class="px p_fre" size="30" value="" name="password" placeholder="{lang login_password}" fwin="login">
						</li>
					</ul>
				</div>
				<div>
					<button tabindex="3" id="subforum" value="true" name="submit" type="submit">
						<span>456</span>
					</button>
				</div>
			</form>
			<button ng-click="test()">test</button>
			<p ng-bind-html="currentWork"></p> -->

	<!-- <ion-nav-buttons side="primary">
		<button class="button" ng-click="nav_home()">
       	home
		</button>
		<button class="button" ng-click="nav_search()">
        search
		</button>
		<button class="button" ng-click="nav_ask()">
        ask
		</button>
	</ion-nav-buttons> -->
	<!-- <ion-content scroll="true"> -->
	    <!-- <div scrolling=false style="border-style: solid; border-width: 0px;height: 100%;"> -->
	        <iframe id="bbsframe" ng-src ='{{navigation}}' height="100%" width="100%">

	            <p>Your browser does not support iframes.</p>
	        </iframe>
    	<!-- </div> -->
	<!-- </ion-content> -->
</ion-view>