<ion-view title="我的团队">
  <ion-nav-bar class="bar-dark nav-title-slide-ios7" style="" >
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
  </ion-nav-bar>
  <div  style="position: absolute;top: 43px;z-index:100;display: block;height: 12.5px;background-color: #33cd5f;{{barwidth}}" >
  </div>
  <ion-content delegate-handle="myPatientScroll" class="has-subheader content-item-list" on-scroll="onScoll()">
    <qrcode data="{{groupQRCodedata}}", href="{{groupQRCodedata}}" size="400" style="padding-left: 10%"></qrcode>
  </ion-content>
          
</ion-view>