<ion-header-bar align-title="center" class="bar-stable">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()">
        </button>
    </div>
    <div class="h1 title login-title" >进行中</div>
</ion-header-bar>
<ion-view>
    <ion-content>
	    <div>
		等待患者：{{patients.length}}
		</div>
        <div class="list">
            <a class="item item-thumbnail-left" href="#/tab/detail" ng-repeat="p in patients">
                <img src="img/head/{{p.head}}">
				<div>
                <span>{{p.name}}</span><span>{{p.sex}}</span><span>{{p.age}}岁</span>
				<span class="mine-msg-right">{{p.time}}</span>
                <p class="friend-detail-p">{{p.qs}}</p>
				</div>
            </a>      
        </div>
    </ion-content>
</ion-view>

<style type="text/css">
    p{
        white-space:nowrap;
    }
</style>
